<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
<head>
    <title>채팅방 생성</title>
</head>
<style layout:fragment="style">
    .top-100 {
        top: 100%
    }

    .bottom-100 {
        bottom: 100%
    }

    .max-h-select {
        max-height: 300px;
    }
</style>
<div layout:fragment="content">
    <div class="flex flex-wrap">
        <div class="w-fit h-fit mr-10 group relative inline-block overflow-hidden border border-indigo-600 px-10 py-2 focus:outline-none focus:ring"
             th:onclick="|location.href='@{/chat/createChatRoom.do}'|">
            <button>
                <span class="absolute inset-y-0 left-0 w-[2px] bg-blue-600 transition-all group-hover:w-full group-active:bg-blue-500"></span>
                <span class="relative text-md font-medium text-blue-600 transition-colors group-hover:text-white">채팅방 생성</span>
            </button>
        </div>
        <div class="mx-auto w-4/5">
            <div class="mx-auto w-full mb-10">
                <h1 class="flex items-center">
                    <span class="mr-10 text-2xl font-bold">채팅방 생성하기</span>
                    <span class="h-px flex-1 bg-gray-600"></span>
                </h1>
                <div class="relative w-2/3 mt-10 bg-white rounded-lg border border-gray-300 dark:bg-gray-700">
                    <form class="p-4 md:p-5" name="createChatRoomFrm" th:action="@{/chat/createChatRoom.do}" method="post">
                        <div class="grid gap-4 mb-4 grid-cols-2">
                            <div class="col-span-2">
                                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">채팅방 명</label>
                                <input type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="채팅방 명을 입력하세요" required>
                            </div>
                            <div class="col-span-2 flex">
                                <div class="w-full flex flex-col items-center mx-auto">
                                    <div class="mb-2 w-full text-sm font-medium text-gray-900">참여사원</div>
                                    <div class="w-full">
                                        <div class="flex flex-col items-center relative">
                                            <div class="w-full">
                                                <div class="flex">
                                                    <div id="createSelectArea" class="flex flex-auto flex-wrap">
                                                        <!--선택된 요소 표현-->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="w-full flex-1 my-2 p-1 flex bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg">
                                                <input id="create-search-input" placeholder="사원이름을 검색하세요" class="bg-transparent p-1 px-2 appearance-none outline-none h-full w-full text-gray-800">
                                            </div>
                                            <div id="create-search-list"
                                                 class="absolute shadow top-100 bg-white z-40 w-full lef-0 rounded max-h-select overflow-y-auto">
                                                <div class="flex flex-col w-full">
                                                    <!--검색결과-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit"
                                class="text-white mx-auto inline-flex items-center bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                            <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            채팅방 생성
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script layout:fragment="script" th:src="@{/js/chat/createChatRoom.js}"></script>
</html>
