<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
<head>
    <title>인덱스</title>
</head>
<style layout:fragment="style"></style>
<div layout:fragment="content">
    <div class="flex h-screen">
    조금만 미루자
<!--        &lt;!&ndash; Sidebar &ndash;&gt;-->
<!--        <aside class="bg-gray-800 text-white w-64 p-6">-->
<!--            <h2 class="text-2xl font-semibold mb-4">Sidebar</h2>-->
<!--            &lt;!&ndash; Add your sidebar content here &ndash;&gt;-->
<!--            <h1>전자 결재하기</h1>-->
<!--            <ul>-->
<!--                <li>결재 대기함</li>-->
<!--                <li>결재 수신함</li>-->
<!--                <li>결재 예정함</li>-->
<!--            </ul>-->
<!--        </aside>-->

<!--        &lt;!&ndash; Main Content &ndash;&gt;-->
<!--        <main class="flex-1 p-6">-->
<!--            &lt;!&ndash; Add your main content here &ndash;&gt;-->
<!--        </main>-->
</div>
    <script layout:fragment="script" th:src="@{/js/approval/approvalHome.js}">
    </script>
</html>