<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/approval_default}">
<head>
    <title>결재 비품 상세 페이지</title>
</head>
<style layout:fragment="style"></style>
<div layout:fragment="content">
<!--    <form name="recognize" method="post">-->
    <input type="hidden" th:value="${_csrf.token}" name="_csrf">
    <input type="hidden" th:value="${#authentication.principal.employee.id}" id="loginId">
    <div class="container mx-auto p-4 bg-white border mt-8 mb-8">
        <h1 class="text-3xl text-center mb-4">업 무 협 조</h1>
        <div class="flex">
            <table class="w-20% mb-6">
                <tr class="border">
                    <th class="border p-2">기안자</th>
                    <td><input type="text" class="w-20% p-2 border " th:value="${empId}" readonly></td>
                </tr>
                <tr class="border">
                    <th class="border p-2">부서</th>
                    <td><input type="text" class="w-20% p-2 border " th:value="${deptId}" readonly></td>
                </tr>
                <tr class="border">
                    <th class="border p-2">기안일</th>
                    <td><input type="text" class="w-20% p-2 border " th:value="${approvalEndDate}" readonly></td>
                </tr>
                <tr class="border">
                    <th class="border p-2">문서번호</th>
                    <td><input type="text" class="w-20% p-2 border " th:value="${coId}" readonly></td>
                </tr>
            </table>
            <!-- 첫 번째 테이블 -->
            <table class="mb-6 ml-auto mr-1" th:each="approver, iterStat : ${approver}" th:class="${iterStat.index == 0} ? 'ml-auto' : ''">
<!--                <form name="recognize" method="post" th:action="@{/approval/approvalDetailCooperation.do}">-->
                    <th:block th:if="${iterStat.index == 0}">
                        <tr class="border " >
                            <th class="border p-2 w-10" rowspan="4">승인</th>
                        </tr>
                        <tr class="border">
                            <td><input type="text" class="w-24 p-2" th:value="${approver.approverName}" readonly></td>
                        </tr>
                            <tr class="border approver" th:data-emp-id="${approver.approverId}">
                         <td><input type="text" name="sign" class="signs w-24 p-2" th:value="${approver.sign}"  th:data-is-last="notLast" th:data-line-id="${approver.lineId}" th:readonly="${#authentication.principal.employee.id != approver.approverId}"></td>
                            </tr>
                            <tr>
                                <td><input type="hidden" name="lineId" class="w-24 p-2" th:value="${approver.lineId}" readonly></td>
                            </tr>
                    </th:block>
                <th:block th:if="${iterStat.index != 0 && !iterStat.last}">
                    <tr class="border " >
                        <th class="border p-2 w-10" rowspan="4">승인</th>
                    </tr>
                    <tr class="border">
                        <td><input type="text" class="w-24 p-2" th:value="${approver.approverName}" readonly></td>
                    </tr>
                    <tr class="border approver" th:data-emp-id="${approver.approverId}">
                        <td><input type="text" name="sign" class="signs w-24 p-2" th:value="${approver.sign}" th:data-is-last="notLast" th:data-line-id="${approver.lineId}" th:readonly="${#authentication.principal.employee.id != approver.approverId}"></td>

                    </tr>
                    <tr>
                        <td><input type="hidden" name="lineId" class="w-24 p-2" th:value="${approver.lineId}" readonly></td>
                    </tr>
                </th:block>
                <th:block th:if="${iterStat.last}">
                    <tr class="border " >
                        <th class="border p-2 w-10" rowspan="4">승인</th>
                    </tr>
                    <tr class="border">
                        <td><input type="text" class="w-24 p-2" th:value="${approver.approverName}" readonly></td>
                    </tr>
                    <tr class="border approver" th:data-emp-id="${approver.approverId}">
                        <td><input type="text" name="sign" class="signs w-24 p-2" th:value="${approver.sign}" th:data-is-last="isLast" th:data-line-id="${approver.lineId}"></td>

                    </tr>
                    <tr>
                        <td><input type="hidden" name="lineId" class="w-24 p-2" th:value="${approver.lineId}" readonly></td>
                    </tr>
                </th:block>
<!--                </form>-->
            </table>

        </div>

        <table class="w-full mb-6">
            <tr class="border">
                <th class="border p-2 w-32">수신처</th>
                <td><input type="text" class="w-full p-2 border " th:value="${cooperationDept}" readonly></td>
            </tr>
            <tr class="border">
                <th class="border p-2 w-32">제목</th>
                <td><input type="text" class="w-full p-2 border " th:value="${title}" readonly></td>
            </tr>
            <tr class="border">
                <th class="border p-2 w-32">내용</th>
                <td><input type="text" class="w-full p-2 border " th:value="${content}" readonly></td>
            </tr>
            <tr class="border">
                <th class="border p-2 w-32">기간 및 일시</th>
                <td><input type="text" class="w-15% p-2 border " th:value="${startDate}" readonly>&nbsp ~ &nbsp<input type="text" class="w-20% p-2 border " th:value="${endDate}" readonly></td>
            </tr>
        </table>
<!--        <button id="recognizeBtn" type="button" class="bg-blue-500 text-white p-2 rounded"-->
<!--                th:each="individualApprover : ${approver}"-->
<!--                th:if="${status == '대기' and #authentication.principal.employee.id == individualApprover.approverId}"-->
<!--                th:attr="onclick='setApprovalInfo(\'' + ${individualApprover.sign == null ? '' : individualApprover.sign} + '\', ' + ${individualApprover.lineId == null ? 0 : individualApprover.lineId} + ')'">승인</button>-->
        <form th:action="@{/approval/approvalDetailCooperation.do}" method="post" name="recognizeFrm" id="recognizeFrm">
            <input type="hidden" name="sign">
            <input type="hidden" name="id" th:value="${id}">
            <input type="hidden" name="lineId">
            <input type="hidden" name="isLast">
            <button id="recognizeBtn" type="submit" class="bg-blue-500 text-white p-2 rounded"
                    th:each="individualApprover : ${approver}"
                    th:if="${status == '대기' and #authentication.principal.employee.id == individualApprover.approverId}">승인</button>
        </form>

        <form th:action="@{/approval/rejectDetailCooperation.do}" method="post" name="recognizeFrm" id="rejectFrm">
            <input type="hidden" name="sign">
            <input type="hidden" name="id" th:value="${id}">
            <input type="hidden" name="lineId">
            <button type="submit" class="bg-red-500 text-white p-2 rounded" id="rejectionFrmBtn"
                    th:each="individualApprover : ${approver}"
                    th:if="${status == '대기' and #authentication.principal.employee.id == individualApprover.approverId}">반려</button>
        </form>

<!--        <h2 class="p-2 w-32">파일 첨부</h2>-->
<!--        <div class="border-dotted">-->
<!--            <input type="file" class="custom-file-input mb-3" name="upFile" id="upFile" multiple placeholder="이곳에 파일을 드래그 하세요. 또는 파일선택">-->
<!--        </div>-->

<!--        <button type="submit" class="bg-blue-500 text-white p-2 rounded">결재요청</button>-->
        </div>
<!--    </form>-->
</div>

<script layout:fragment="script" th:src="@{/js/approval/updateApproval.js}"></script>
</html>