<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/approval_default}">
<head>
    <title>전자결재홈</title>
</head>
<style layout:fragment="style"></style>
<div layout:fragment="content">

    <h1 class="mb-4">전자 결재홈</h1>
    <p class="mb-4 text-gray-700">수정 예정</p>

    <h1>결재 요청 온 문서(수신자가 로그인한 사람 상태는 대기 혹은 진행중)</h1>
    <table id="tbl-approval-request" class="min-w-full leading-normal shadow-md rounded-lg overflow-hidden">
        <thead>
        <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
            <th class="px-4 py-2">기안일</th>
            <th class="px-4 py-2">결재양식</th>
            <th class="px-4 py-2">제목</th>
            <th class="px-4 py-2">긴급</th>
            <th class="px-4 py-2">첨부</th>
            <th class="px-4 py-2">결재상태</th>
        </tr>
        </thead>
        <tbody class="text-gray-600 text-sm font-light">
        <tr th:each="approval, status : ${approvalReceiveLeave}" th:data-approval-leave-id="${approval.id}" class="approval-tr hover:bg-gray-100">
            <td class="border px-4 py-2" th:text="${approval.approvalEndDate}"></td>
            <td class="border px-4 py-2" th:text="${approval.name}"></td>
            <td class="border px-4 py-2" th:text="${approval.title}"></td>
            <td class="border px-4 py-2" th:text="${approval.emergency}"></td>
            <td class="border px-4 py-2">
                <img th:if="${approval.attachCount > 0}" th:src="@{/images/profile.png}" width="16px">
            </td>
            <td class="border px-4 py-2" th:text="${approval.status}"></td>
        </tr>
        <tr th:each="approval, status : ${approvalReceiveEquipment}" th:data-approval-equipment-id="${approval.id}" class="approval-tr hover:bg-gray-100">
            <td class="border px-4 py-2" th:text="${approval.approvalEndDate}"></td>
            <td class="border px-4 py-2" th:text="${approval.name}"></td>
            <td class="border px-4 py-2" th:text="${approval.title}"></td>
            <td class="border px-4 py-2" th:text="${approval.emergency}"></td>
            <td class="border px-4 py-2">
                <img th:if="${approval.attachCount > 0}" th:src="@{/images/profile.png}" width="16px">
            </td>
            <td class="border px-4 py-2" th:text="${approval.status}"></td>
        </tr>
        <tr th:each="approval, status : ${approvalReceiveCooperation}" th:data-approval-cooperation-id="${approval.id}" class="approval-tr hover:bg-gray-100">
            <td class="border px-4 py-2" th:text="${approval.approvalEndDate}"></td>
            <td class="border px-4 py-2" th:text="${approval.name}"></td>
            <td class="border px-4 py-2" th:text="${approval.title}"></td>
            <td class="border px-4 py-2" th:text="${approval.emergency}"></td>
            <td class="border px-4 py-2">
                <img th:if="${approval.attachCount > 0}" th:src="@{/images/profile.png}" width="16px">
            </td>
            <td class="border px-4 py-2" th:text="${approval.status}"></td>
        </tr>
        </tbody>
    </table>
    <br><br>
    <h1>결재 진행 문서(로그인한 사람이 요청자 결재 상태는 진행중)</h1>
    <table id="tbl-approval-proceeding" class="min-w-full leading-normal shadow-md rounded-lg overflow-hidden">
        <thead>
        <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
            <th class="px-4 py-2">기안일</th>
            <th class="px-4 py-2">결재양식</th>
            <th class="px-4 py-2">제목</th>
            <th class="px-4 py-2">긴급</th>
            <th class="px-4 py-2">첨부</th>
            <th class="px-4 py-2">결재상태</th>
        </tr>
        </thead>
        <tbody class="text-gray-600 text-sm font-light">
        <tr th:each="approval, status : ${approvalProceedingLeave}" th:data-approval-leave-id="${approval.id}" class="approval-tr hover:bg-gray-100">
            <td class="border px-4 py-2" th:text="${approval.approvalEndDate}"></td>
            <td class="border px-4 py-2" th:text="${approval.name}"></td>
            <td class="border px-4 py-2" th:text="${approval.title}"></td>
            <td class="border px-4 py-2" th:text="${approval.emergency}"></td>
            <td class="border px-4 py-2">
                <img th:if="${approval.attachCount > 0}" th:src="@{/images/profile.png}" width="16px">
            </td>
            <td class="border px-4 py-2" th:text="${approval.status}"></td>
        </tr>
        <tr th:each="approval, status : ${approvalProceedingEquipment}" th:data-approval-equipment-id="${approval.id}" class="approval-tr hover:bg-gray-100">
            <td class="border px-4 py-2" th:text="${approval.approvalEndDate}"></td>
            <td class="border px-4 py-2" th:text="${approval.name}"></td>
            <td class="border px-4 py-2" th:text="${approval.title}"></td>
            <td class="border px-4 py-2" th:text="${approval.emergency}"></td>
            <td class="border px-4 py-2">
                <img th:if="${approval.attachCount > 0}" th:src="@{/images/profile.png}" width="16px">
            </td>
            <td class="border px-4 py-2" th:text="${approval.status}"></td>
        </tr>
        <tr th:each="approval, status : ${approvalProceedingCooperation}" th:data-approval-cooperation-id="${approval.id}" class="approval-tr hover:bg-gray-100">
            <td class="border px-4 py-2" th:text="${approval.approvalEndDate}"></td>
            <td class="border px-4 py-2" th:text="${approval.name}"></td>
            <td class="border px-4 py-2" th:text="${approval.title}"></td>
            <td class="border px-4 py-2" th:text="${approval.emergency}"></td>
            <td class="border px-4 py-2">
                <img th:if="${approval.attachCount > 0}" th:src="@{/images/profile.png}" width="16px">
            </td>
            <td class="border px-4 py-2" th:text="${approval.status}"></td>
        </tr>
        </tbody>
    </table>
    <br><br>
    <h1>결재 완료 문서</h1>
    <table id="tbl-approval-check" class="min-w-full leading-normal shadow-md rounded-lg overflow-hidden">
        <thead>
        <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
            <th class="px-4 py-2">기안일</th>
            <th class="px-4 py-2">결재양식</th>
            <th class="px-4 py-2">제목</th>
            <th class="px-4 py-2">긴급</th>
            <th class="px-4 py-2">첨부</th>
            <th class="px-4 py-2">결재상태</th>
        </tr>
        </thead>
        <tbody class="text-gray-600 text-sm font-light">
        <tr th:each="approval, status : ${approvalCheckLeave}" th:data-approval-leave-id="${approval.id}" class="approval-tr hover:bg-gray-100">
            <td class="border px-4 py-2" th:text="${approval.approvalEndDate}"></td>
            <td class="border px-4 py-2" th:text="${approval.name}"></td>
            <td class="border px-4 py-2" th:text="${approval.title}"></td>
            <td class="border px-4 py-2" th:text="${approval.emergency}"></td>
            <td class="border px-4 py-2">
                <img th:if="${approval.attachCount > 0}" th:src="@{/images/profile.png}" width="16px">
            </td>
            <td class="border px-4 py-2" th:text="${approval.status}"></td>
        </tr>
        <tr th:each="approval, status : ${approvalCheckEquipment}" th:data-approval-equipment-id="${approval.id}" class="approval-tr hover:bg-gray-100">
            <td class="border px-4 py-2" th:text="${approval.approvalEndDate}"></td>
            <td class="border px-4 py-2" th:text="${approval.name}"></td>
            <td class="border px-4 py-2" th:text="${approval.title}"></td>
            <td class="border px-4 py-2" th:text="${approval.emergency}"></td>
            <td class="border px-4 py-2">
                <img th:if="${approval.attachCount > 0}" th:src="@{/images/profile.png}" width="16px">
            </td>
            <td class="border px-4 py-2" th:text="${approval.status}"></td>
        </tr>
        <tr th:each="approval, status : ${approvalCheckCooperation}" th:data-approval-cooperation-id="${approval.id}" class="approval-tr hover:bg-gray-100">
            <td class="border px-4 py-2" th:text="${approval.approvalEndDate}"></td>
            <td class="border px-4 py-2" th:text="${approval.name}"></td>
            <td class="border px-4 py-2" th:text="${approval.title}"></td>
            <td class="border px-4 py-2" th:text="${approval.emergency}"></td>
            <td class="border px-4 py-2">
                <img th:if="${approval.attachCount > 0}" th:src="@{/images/profile.png}" width="16px">
            </td>
            <td class="border px-4 py-2" th:text="${approval.status}"></td>
        </tr>
        </tbody>
    </table>


</div>
    <script layout:fragment="script" th:src="@{/js/approval/approvalList.js}">
    </script>
</html>