<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
<head>
    <title>종료된 프로젝트</title>
</head>
<style layout:fragment="style"></style>
<div layout:fragment="content">
    <div class="flex flex-wrap">
        <div class="flex flex-col">
            <div class="w-fit h-fit mr-5 group relative inline-block overflow-hidden border border-indigo-600 px-5 py-2 focus:outline-none focus:ring"
                 th:onclick="|location.href='@{/project/createProject.do}'|">
                <button>
                    <span class="absolute inset-y-0 left-0 w-[2px] bg-blue-600 transition-all group-hover:w-full group-active:bg-blue-500"></span>
                    <span class="relative w-full text-md font-medium text-blue-600 transition-colors group-hover:text-white">프로젝트 생성</span>
                </button>
            </div>
            <aside class="mt-10 w-fit" id="sidebarProject">
                <ul class="text-lg p-2 py-4 font-semibold hover:text-[#000000]">
                    <li th:onclick="|location.href='@{/project/totalTaskList.do}'|" class="cursor-pointer hover:text-blue-600 border-b hover:border-blue-600 border-gray-300 pb-2 pr-8">업무 전체보기</li>
                    <li th:onclick="|location.href='@{/project/totalIssueList.do}'|" class="cursor-pointer hover:text-blue-600 border-b hover:border-blue-600 border-gray-300 pb-2 pr-8 mt-4">이슈 전체보기</li>
                    <li th:onclick="|location.href='@{/project/doneProjectList.do}'|" class="cursor-pointer hover:text-blue-600 border-b hover:border-blue-600 text-blue-600 border-blue-600 pb-2 pr-8 mt-4">완료된 프로젝트</li>
                </ul>
            </aside>
        </div>


    <div class="mx-auto w-5/6">
        <div class="mx-auto w-full mb-10">
            <h1 class="flex items-center">
                <span class="mr-10 text-xl font-normal">완료된 프로젝트는 총 <strong>[[${totalCount}]]</strong>개입니다.</span>
                <span class="h-px flex-1 bg-gray-600"></span>
            </h1>

        <table class="w-full whitespace-no-wrap mt-10">
            <thead>
            <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                <th class="px-4 py-3">프로젝트명</th>
                <th class="px-4 py-3">시작일</th>
                <th class="px-4 py-3">종료일</th>
                <th class="px-4 py-3">책임자</th>
                <th class="px-4 py-3">권한</th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800" id="projectList">
            <!-- 반복되는 tr영역 -->
                <th:block th:each="project, status: ${projects}">
                    <tr th:data-id="${project.id}" class="cursor-pointer">
                        <td class="px-4 py-3 text-sm" th:text="${project.title}">
                        </td>
                        <td class="px-4 py-3 text-sm" th:text="|${#temporals.format(project.startAt, 'yyyy/MM/dd')}|">
                        </td>
                        <td class="px-4 py-3 text-sm" th:text="|${#temporals.format(project.endAt, 'yyyy/MM/dd')}|">
                        </td>
                        <td class="px-4 py-3 text-sm">
                            <div class="flex items-center text-sm">
                                <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                                    <img
                                            class="object-cover w-full h-full rounded-full"
                                            th:src="${project.employee.profileUrl != null ? project.employee.profileUrl : 'https://bucket-minjeong2024.s3.ap-northeast-2.amazonaws.com/profile.png'}"
                                            alt=""
                                            loading="lazy"
                                    />
                                    <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                                </div>
                                <div>
                                    <p class="font-semibold" th:text="|[${project.employee.deptName}] ${project.employee.name}${project.employee.positionName}|">${employee.name}</p>
                                </div>
                            </div>
                        </td>
                        <td class="px-4 py-3 text-sm">
                            <th:block th:if="${#authentication.principal.employee.id} == ${project.employee.id}">
                                <span class="px-2 py-1 font-semibold leading-tight text-rose-700 bg-rose-100 rounded-full">
                                    책임자
                                </span>
                            </th:block>
                            <th:block th:if="${#authentication.principal.employee.id} != ${project.employee.id}">
                                <span class="px-2 py-1 font-semibold leading-tight text-yellow-700 bg-yellow-100 rounded-full">
                                    참여자
                                </span>
                            </th:block>
                        </td>
                    </tr>
                </th:block>
            <!--tr 한줄 끝-->
            </tbody>
        </table>


        </div>
    </div>

</div>
<script layout:fragment="script" th:src="@{/js/project/doneProjectList.js}">
</script>
</html>
