<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<div th:fragment="kanban">
    <div class="w-full h-full bg-white space-x-7 mt-3 flex">
        <div id="dp1" class="drop flex-1 bg-yellow-100 rounded-lg p-4 space-y-2">
            <h1 class="font-semibold text-md">To do</h1>
            <div draggable="true" class="drag w-full bg-white p-3 rounded-md shadow-sm text-gray-700">
                <ul>
                    <li>업무명</li>
                    <li>담당자</li>
                    <li>중요도</li>
                </ul>
            </div>
            <div draggable="true" class="drag w-full bg-white p-3 rounded-md shadow-sm text-gray-700">Item2</div>
            <div draggable="true" class="drag w-full bg-white p-3 rounded-md shadow-sm text-gray-700">Item3</div>
            <div draggable="true" class="drag w-full bg-white p-3 rounded-md shadow-sm text-gray-700">Item4</div>
            <div draggable="true" class="drag w-full bg-white p-3 rounded-md shadow-sm text-gray-700">Item5</div>
        </div>
        <div id="dp2" class="drop flex-1 bg-blue-100 rounded-lg p-4 space-y-2">
            <h1 class="font-semibold text-md">In progress</h1>
            <div draggable="true" class="drag w-full bg-white p-3 rounded-md shadow-sm text-gray-700">Item1</div>
            <div draggable="true" class="drag w-full bg-white p-3 rounded-md shadow-sm text-gray-700">Item2</div>
            <div draggable="true" class="drag w-full bg-white p-3 rounded-md shadow-sm text-gray-700">Item3</div>
            <div draggable="true" class="drag w-full bg-white p-3 rounded-md shadow-sm text-gray-700">Item4</div>
            <div draggable="true" class="drag w-full bg-white p-3 rounded-md shadow-sm text-gray-700">Item5</div>
        </div>
        <div id="dp3" class="drop flex-1 bg-pink-100 rounded-lg p-4 space-y-2">
            <h1 class="font-semibold text-md">Done</h1>
            <div draggable="true" class="drag w-full bg-white p-3 rounded-md shadow-sm text-gray-700">Item1</div>
            <div draggable="true" class="drag w-full bg-white p-3 rounded-md shadow-sm text-gray-700">Item2</div>
            <div draggable="true" class="drag w-full bg-white p-3 rounded-md shadow-sm text-gray-700">Item3</div>
            <div draggable="true" class="drag w-full bg-white p-3 rounded-md shadow-sm text-gray-700">Item4</div>
            <div draggable="true" class="drag w-full bg-white p-3 rounded-md shadow-sm text-gray-700">Item5</div>
        </div>
    </div>
<script>
    let dragTemp;

    $('.drag').on('dragstart',function(e){
        dragTemp = e.target;
        console.log('dragStart',dragTemp);
    })

    // 드래그하려고 클릭한 객체
    $('.drop').on('dragover', function(e){
        e.preventDefault();
    })


    // drop이 일어날때 ajax 요청을 보내도록 하자
    $('#dp1').on('drop',function(e){
        this.appendChild( dragTemp )
        console.log('dp1 drop', e.target, this.innerHTML);
    })

    $('#dp2').on('drop',function(e){
    this.appendChild( dragTemp )
        $('#dp2').children('.drag').each(function() {
            console.log('dp2 drop', e.target, this.innerText);
        })
    })

    $('#dp3').on('drop',function(e){
    this.appendChild( dragTemp )
        $('#dp3').children('.drag').each(function() {
            console.log(this.innerText);
            console.log('dp3 drop', e.target, this.innerText);
        })
    })

</script>
</div>
</html>