<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
<head>
    <title>프로젝트 전체 업무목록</title>
</head>
<style layout:fragment="style"></style>
<div layout:fragment="content">
    <div class="flex flex-wrap">
        <div class="flex flex-col">
            <div class="w-fit h-fit mr-5 group relative inline-block overflow-hidden border border-indigo-600 px-5 py-2 focus:outline-none focus:ring"
                 th:onclick="|location.href='@{/project/createProject.do}'|">
                <button>
                    <span class="absolute inset-y-0 left-0 w-[2px] bg-blue-600 transition-all group-hover:w-full group-active:bg-blue-500"></span>
                    <span class="relative w-full text-md font-medium text-blue-600 transition-colors group-hover:text-white">프로젝트 생성</span>
                </button>
            </div>
            <aside class="mt-10 w-fit" id="sidebarProject">
            <div class="text-lg p-2 py-4 font-bold hover:text-[#000000]">
                <span class="border-b border-gray-300 pb-2 pr-8">내 프로젝트</span>
            </div>
            <ul class="approval-nav-ul" th:each="project, status : ${projectOwner}">
                <li class="articleLi font-normal hover:bg-gray-100 py-1 rounded-lg cursor-pointer"
                    th:data-project-id="${project.id}" th:id="|project${project.id}|">
                    <a class="inline-flex items-center text-sm font-semibold transition-colors duration-150 hover:text-[#FFFFFF]">
                        <span class="ml-4" th:text="${project.title}"></span>
                    </a>
                </li>
            </ul>

            <!--내 프로젝트 목록 페이지바-->
            <div>
                <div id="page-bar-container" class="px-4 py-3 text-xs font-semibold text-gray-500 uppercase">
                    <span class="flex mt-2 justify-center">
                        <nav aria-label="Table navigation">
                            <ul class="inline-flex items-center">
                                <!-- 이전 버튼 -->
                                <li>
                                    <button class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none bg-gray-50 text-gray-300 focus:shadow-outline-blue cursor-not-allowed"
                                            th:if="${!(projectOwnerNumber > 0)}" readonly>
                                        <svg aria-hidden="true" class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                                            <path
                                                    d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                                    clip-rule="evenodd"
                                                    fill-rule="evenodd"
                                            ></path>
                                        </svg>
                                    </button>
                                    <button class="ownerPageNumber px-3 py-1 rounded-md rounded-l-lg focus:outline-none bg-blue-100 hover:bg-blue-200 focus:shadow-outline-blue"
                                            aria-label="Previous"
                                            th:data-page-number="${projectOwnerNumber - 1}"
                                            th:if="${projectOwnerNumber > 0}">
                                        <svg aria-hidden="true" class="w-4 h-4 fill-current" viewBox="0 0 20 20" th:data-page-number="${projectOwnerNumber - 1}">
                                            <path th:data-page-number="${projectOwnerNumber - 1}"
                                                  d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                                  clip-rule="evenodd"
                                                  fill-rule="evenodd"
                                            ></path>
                                        </svg>
                                    </button>
                                </li>

                                <th:block th:each="pageNumber : ${#numbers.sequence(0, projectOwnerTotalpages - 1)}">
                                    <input type="hidden" th:value="${pageNumber}"
                                           th:if="${pageNumber == projectOwnerNumber}"
                                           id="selectBtnOwnerPage">
                                </th:block>
                                <!-- 다음 버튼 -->
                                <li>
                                    <button class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none bg-gray-50 text-gray-300 focus:shadow-outline-blue cursor-not-allowed"
                                            th:if="${!(projectOwnerNumber < projectOwnerTotalpages - 1)}" readonly>
                                        <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20">
                                        <path
                                                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                                clip-rule="evenodd"
                                                fill-rule="evenodd"
                                        ></path>
                                    </svg>
                                </button>
                                    <button class="ownerPageNumber px-3 py-1 rounded-md rounded-r-lg focus:outline-none bg-blue-100 hover:bg-blue-200 focus:shadow-outline-blue"
                                            aria-label="Next"
                                            th:data-page-number="${projectOwnerNumber + 1}"
                                            th:if="${projectOwnerNumber < projectOwnerTotalpages - 1}">
                                        <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20" th:data-page-number="${projectOwnerNumber + 1}">
                                            <path th:data-page-number="${projectOwnerNumber + 1}"
                                                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                                  clip-rule="evenodd"
                                                  fill-rule="evenodd"
                                            ></path>
                                        </svg>
                                    </button>
                                </li>
                            </ul>
                        </nav>
                    </span>
                </div>
            </div>


            <div class="text-lg p-2 py-4 font-bold hover:text-[#000000]">
                <span class="border-b border-gray-300 pb-2 pr-8">참여중인 프로젝트</span>
            </div>
            <ul class="approval-nav-ul" th:each="project, status : ${projectEmp}">
                <li class="articleLi font-normal hover:bg-gray-100 py-1 rounded-lg cursor-pointer"
                    th:data-project-id="${project.id}" th:id="|project${project.id}|">
                    <a class="inline-flex items-center text-sm font-semibold transition-colors duration-150 hover:text-[#FFFFFF]">
                        <span class="ml-4" th:text="${project.title}"></span>
                    </a>
                </li>
            </ul>

            <div id="page-bar-container-2" class="px-4 py-3 text-xs font-semibold text-gray-500 uppercase">
                <span class="flex mt-2 justify-center">
                    <nav aria-label="Table navigation">
                        <ul class="inline-flex items-center">
                            <!-- 이전 버튼 -->
                            <li>
                                <button class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none bg-gray-50 text-gray-300 focus:shadow-outline-blue cursor-not-allowed"
                                        th:if="${!(projectEmpNumber > 0)}" readonly>
                                    <svg aria-hidden="true" class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                                        <path
                                              d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                              clip-rule="evenodd"
                                              fill-rule="evenodd"
                                        ></path>
                                    </svg>
                                </button>
                                <button class="empPageNumber px-3 py-1 rounded-md rounded-l-lg focus:outline-none bg-blue-100 hover:bg-blue-200 focus:shadow-outline-blue"
                                        aria-label="Previous"
                                        th:data-page-number="${projectEmpNumber - 1}"
                                        th:if="${projectEmpNumber > 0}">
                                    <svg aria-hidden="true" class="w-4 h-4 fill-current" viewBox="0 0 20 20" th:data-page-number="${projectEmpNumber - 1}">
                                        <path th:data-page-number="${projectEmpNumber - 1}"
                                              d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                              clip-rule="evenodd"
                                              fill-rule="evenodd"
                                        ></path>
                                    </svg>
                                </button>
                            </li>
                            <!-- 페이지 번호 반복문 -->
                            <th:block th:each="pageNumber : ${#numbers.sequence(0, projectEmpTotalpages - 1)}">
                                <input type="hidden" th:value="${pageNumber}"
                                       th:if="${pageNumber == projectEmpNumber}"
                                       id="selectBtnEmpPage">
                            </th:block>

                            <!-- 다음 버튼 -->
                            <li>
                                <button class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none bg-gray-50 text-gray-300 focus:shadow-outline-blue cursor-not-allowed"
                                        th:if="${!(projectEmpNumber < projectEmpTotalpages - 1)}" readonly>
                                        <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20">
                                        <path
                                              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                              clip-rule="evenodd"
                                              fill-rule="evenodd"
                                        ></path>
                                    </svg>
                                </button>
                                <button class="empPageNumber px-3 py-1 rounded-md rounded-r-lg focus:outline-none bg-blue-100 hover:bg-blue-200 focus:shadow-outline-blue"
                                        aria-label="Next"
                                        th:data-page-number="${projectEmpNumber + 1}"
                                        th:if="${projectEmpNumber < projectEmpTotalpages - 1}">
                                    <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20" th:data-page-number="${projectEmpNumber + 1}">
                                        <path th:data-page-number="${projectEmpNumber + 1}"
                                              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                              clip-rule="evenodd"
                                              fill-rule="evenodd"
                                        ></path>
                                    </svg>
                                </button>
                            </li>
                        </ul>
                    </nav>
                </span>
            </div>
        </aside>
        </div>


    <div class="mx-auto w-5/6">
        <div class="mx-auto w-full mb-10">
            <h1 class="flex items-center">
                <span class="mr-10 text-xl font-normal"><strong>[[${thisProject.title}]]</strong> 프로젝트의
                <br>업무는 총 <strong>[[${totalCount}]]</strong>개입니다.</span>
                <span class="h-px flex-1 bg-gray-600"></span>
            </h1>

        <table class="w-full whitespace-no-wrap mt-10">
            <thead>
            <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                <th class="px-4 py-3">업무명</th>
                <th class="px-4 py-3">시작일</th>
                <th class="px-4 py-3">종료일</th>
                <th class="px-4 py-3">중요도</th>
                <th class="px-4 py-3">생성자</th>
                <th class="px-4 py-3">담당자</th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800" id="taskList">
            <!-- 반복되는 tr영역 -->
                <th:block th:each="task, status: ${tasks}">
                    <tr th:data-id="${task.id}" th:data-project-id="${task.project.id}" class="cursor-pointer">
                        <td class="px-4 py-3 text-sm">
                            <span class="px-2 py-1 font-semibold text-rose-700 bg-rose-50 rounded-full" th:text="${task.name}">
                            </span>
                        </td>
                        <td class="px-4 py-3 text-sm" th:text="|${#temporals.format(task.startAt, 'yyyy/MM/dd')}|">
                        </td>
                        <td class="px-4 py-3 text-sm" th:text="|${#temporals.format(task.endAt, 'yyyy/MM/dd')}|">
                        </td>
                        <td class="px-4 py-3 mt-1 text-sm flex items-center align-middle">
                            <div class="flex items-center" th:each="index : ${#numbers.sequence(1, task.priority)}">
                                <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                                </svg>
                            </div>
                            <div class="flex items-center" th:if="${task.priority != 5}" th:each="index : ${#numbers.sequence(1, (5 - task.priority))}">
                                <svg class="w-4 h-4 ms-1 text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                                </svg>
                            </div>
                        </td>
                        <th:block th:if="${task.owner != null}">
                            <td class="px-4 py-3 text-sm">
                                <div class="flex items-center text-sm">
                                    <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                                        <img
                                                class="object-cover w-full h-full rounded-full"
                                                th:src="${task.owner.profileUrl != null ? task.owner.profileUrl : 'https://bucket-minjeong2024.s3.ap-northeast-2.amazonaws.com/profile.png'}"
                                                alt=""
                                                loading="lazy"
                                        />
                                        <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                                    </div>
                                    <div>
                                        <p th:text="${task.owner.deptName}"></p>
                                        <p class="font-semibold" th:text="|${task.owner.name}${task.owner.positionName}|"></p>
                                    </div>
                                </div>
                            </td>
                        </th:block>
                        <th:block th:if="${task.employee != null}">
                            <td class="px-4 py-3 text-sm">
                                <div class="flex items-center text-sm">
                                    <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                                        <img
                                                class="object-cover w-full h-full rounded-full"
                                                th:src="${task.employee.profileUrl != null ? task.employee.profileUrl : 'https://bucket-minjeong2024.s3.ap-northeast-2.amazonaws.com/profile.png'}"
                                                alt=""
                                                loading="lazy"
                                        />
                                        <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                                    </div>
                                    <div>
                                        <p th:text="${task.employee.deptName}"></p>
                                        <p class="font-semibold" th:text="|${task.employee.name}${task.employee.positionName}|"></p>
                                    </div>
                                </div>
                            </td>
                        </th:block>
                    </tr>
                </th:block>
            <!--tr 한줄 끝-->
            </tbody>
        </table>

            <div id="page-bar-container" class="px-4 py-3 text-xs font-semibold text-gray-500 uppercase">
                <span class="flex mt-2 justify-center">
                    <nav aria-label="Table navigation">
                        <ul class="inline-flex items-center">
                            <!-- 이전 버튼 -->
                            <li>
                                <button class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none bg-gray-50 text-gray-300 focus:shadow-outline-blue cursor-not-allowed"
                                        th:if="${!(number > 0)}" readonly>
                                    <svg aria-hidden="true" class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                                        <path
                                                d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                                clip-rule="evenodd"
                                                fill-rule="evenodd"
                                        ></path>
                                    </svg>
                                </button>
                                <button class="pageNumber px-3 py-1 rounded-md rounded-l-lg focus:outline-none bg-blue-100 hover:bg-blue-200 focus:shadow-outline-blue"
                                        aria-label="Previous"
                                        th:data-page-number="${number - 1}"
                                        th:if="${number > 0}">
                                    <svg aria-hidden="true" class="w-4 h-4 fill-current" viewBox="0 0 20 20" th:data-page-number="${number - 1}">
                                        <path th:data-page-number="${number - 1}"
                                              d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                              clip-rule="evenodd"
                                              fill-rule="evenodd"
                                        ></path>
                                    </svg>
                                </button>
                            </li>

                            <!-- 페이지 번호 반복문 -->
                            <th:block th:each="pageNumber : ${#numbers.sequence(0, totalpages - 1)}">
                                <li>
                                    <button th:if="${pageNumber == number}" id="selectBtn"
                                            class="px-3 py-1 text-white transition-colors duration-150 bg-blue-600 border border-r-0 border-blue-600 rounded-md focus:outline-none focus:shadow-outline-blue">
                                        <!-- 현재 선택된 페이지는 특별한 스타일을 적용 -->
                                        <span th:text="${pageNumber + 1}"></span>
                                    </button>
                                    <button th:unless="${pageNumber == number}"
                                            class="pageNumber px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-blue hover:bg-gray-100"
                                            data-page-id="owner" th:data-page-number="${pageNumber}">
                                        <!-- 페이지가 선택되지 않은 경우의 스타일 및 이벤트 핸들러 -->
                                        <span th:text="${pageNumber + 1}" th:data-page-number="${pageNumber}"></span>
                                    </button>
                                </li>
                            </th:block>
                            <!-- 다음 버튼 -->
                            <li>
                                <button class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none bg-gray-50 text-gray-300 focus:shadow-outline-blue cursor-not-allowed"
                                        th:if="${!(number < totalpages - 1)}" readonly>
                                    <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20">
                                    <path
                                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                            clip-rule="evenodd"
                                            fill-rule="evenodd"
                                    ></path>
                                </svg>
                            </button>
                                <button class="pageNumber px-3 py-1 rounded-md rounded-r-lg focus:outline-none bg-blue-100 hover:bg-blue-200 focus:shadow-outline-blue"
                                        aria-label="Next"
                                        th:data-page-number="${number + 1}"
                                        th:if="${number < totalpages - 1}">
                                    <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20" th:data-page-number="${number + 1}">
                                        <path th:data-page-number="${number + 1}"
                                              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                              clip-rule="evenodd"
                                              fill-rule="evenodd"
                                        ></path>
                                    </svg>
                                </button>
                            </li>
                        </ul>
                    </nav>
                </span>
            </div>

        </div>
    </div>

</div>
<script layout:fragment="script" th:src="@{/js/project/projectTotalTaskList.js}">
</script>
</html>
