<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
<head>
    <title>내 이슈목록</title>
</head>
<style layout:fragment="style"></style>
<div layout:fragment="content">
    <div class="flex flex-wrap">
        <div class="flex flex-col">
            <div class="w-fit h-fit mr-5 group relative inline-block overflow-hidden border border-indigo-600 px-5 py-2 focus:outline-none focus:ring"
                 th:onclick="|location.href='@{/project/createProject.do}'|">
                <button>
                    <span class="absolute inset-y-0 left-0 w-[2px] bg-blue-600 transition-all group-hover:w-full group-active:bg-blue-500"></span>
                    <span class="relative w-full text-md font-medium text-blue-600 transition-colors group-hover:text-white">프로젝트 생성</span>
                </button>
            </div>
            <aside class="mt-10 w-fit" id="sidebarProject">
                <ul class="text-lg p-2 py-4 font-semibold hover:text-[#000000]">
                    <li th:onclick="|location.href='@{/project/projectList.do}'|" class="cursor-pointer hover:text-blue-600 border-b hover:border-blue-600 border-gray-300 pb-2 pr-8">진행중인 프로젝트</li>
                    <li th:onclick="|location.href='@{/project/doneProjectList.do}'|" class="cursor-pointer hover:text-blue-600 border-b hover:border-blue-600 border-gray-300 pb-2 pr-8 mt-4">완료된 프로젝트</li>
                    <li th:onclick="|location.href='@{/project/totalTaskList.do}'|" class="cursor-pointer hover:text-blue-600 border-b hover:border-blue-600 border-gray-300 pb-2 mt-4 pr-8">업무 전체보기</li>
                    <li th:onclick="|location.href='@{/project/totalIssueList.do}'|" class="cursor-pointer hover:text-blue-600 border-b hover:border-blue-600 text-blue-600 border-blue-600 pb-2 pr-8 mt-4">이슈 전체보기</li>
                </ul>
            </aside>
        </div>


    <div class="mx-auto w-5/6">
        <div class="mx-auto w-full mb-10">
            <h1 class="flex items-center">
                <span class="mr-10 text-xl font-normal">내 이슈는 총 <strong>[[${totalCount}]]</strong>개입니다.</span>
                <span class="h-px flex-1 bg-gray-600"></span>
            </h1>

        <table class="w-full whitespace-no-wrap mt-10">
            <thead>
            <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                <th class="px-4 py-3">프로젝트명</th>
                <th class="px-4 py-3">업무명</th>
                <th class="px-4 py-3">이슈명</th>
                <th class="px-4 py-3">긴급도</th>
                <th class="px-4 py-3">생성자</th>
                <th class="px-4 py-3">담당자</th>
                <th class="px-4 py-3">상태</th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800" id="issueList">
            <!-- 반복되는 tr영역 -->
                <th:block th:each="issue, status: ${issues}">
                    <tr th:data-id="${issue.id}" th:data-project-id="${issue.project.id}" class="cursor-pointer">
                        <td class="px-4 py-3 text-sm" >
                            <span class="px-2 py-1 font-semibold text-blue-700 bg-blue-50 rounded-full" th:text="${issue.project.title}">
                            </span>
                        </td>
                        <td class="px-4 py-3 text-sm" th:if="${issue.task != null}">
                            <span class="px-2 py-1 font-semibold text-rose-700 bg-rose-50 rounded-full" th:text="${issue.task.name}">
                            </span>
                        </td>
                        <td class="px-4 py-3 text-sm" th:if="${issue.task == null}">
                            -
                        </td>
                        <td class="px-4 py-3 text-sm">
                            <span class="px-2 py-1 font-semibold text-yellow-700 bg-yellow-50 rounded-full" th:text="${issue.name}">
                            </span>
                        </td>
                        <td class="px-4 py-3 mt-1 text-sm" th:if="${issue.priority == 3}">
                            <span class="px-2 py-1 font-bold text-red-600">
                                high
                            </span>
                        </td>
                        <td class="px-4 py-3 mt-1 text-sm" th:if="${issue.priority == 2}">
                            <span class="px-2 py-1 font-bold text-orange-600">
                                middle
                            </span>
                        </td>
                        <td class="px-4 py-3 mt-1 text-sm" th:if="${issue.priority == 1}">
                            <span class="px-2 py-1 font-bold text-gray-600">
                                low
                            </span>
                        </td>
                        <th:block th:if="${issue.owner != null}">
                            <td class="px-4 py-3 text-sm">
                                <div class="flex items-center text-sm">
                                    <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                                        <img
                                                class="object-cover w-full h-full rounded-full"
                                                th:src="${issue.owner.profileUrl != null ? issue.owner.profileUrl : 'https://bucket-minjeong2024.s3.ap-northeast-2.amazonaws.com/profile.png'}"
                                                alt=""
                                                loading="lazy"
                                        />
                                        <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                                    </div>
                                    <div>
                                        <p th:text="${issue.owner.deptName}"></p>
                                        <p class="font-semibold" th:text="|${issue.owner.name}${issue.owner.positionName}|"></p>
                                    </div>
                                </div>
                            </td>
                        </th:block>
                        <th:block th:if="${issue.employee != null}">
                            <td class="px-4 py-3 text-sm">
                                <div class="flex items-center text-sm">
                                    <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                                        <img
                                                class="object-cover w-full h-full rounded-full"
                                                th:src="${issue.employee.profileUrl != null ? issue.employee.profileUrl : 'https://bucket-minjeong2024.s3.ap-northeast-2.amazonaws.com/profile.png'}"
                                                alt=""
                                                loading="lazy"
                                        />
                                        <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                                    </div>
                                    <div>
                                        <p th:text="${issue.owner.deptName}"></p>
                                        <p class="font-semibold" th:text="|${issue.owner.name}${issue.owner.positionName}|"></p>
                                    </div>
                                </div>
                            </td>
                        </th:block>
                        <td class="px-4 py-3 mt-1 text-sm" th:if="${issue.status == 'CLOSE'}">
                            <span class="inline-flex items-center m-2 px-3 py-1 bg-green-200 bg-gray-200 rounded-full text-sm font-semibold text-gray-700">
                                <svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm3.5-9c.83 0 1.5-.67 1.5-1.5S16.33 8 15.5 8 14 8.67 14 9.5s.67 1.5 1.5 1.5zm-7 0c.83 0 1.5-.67 1.5-1.5S9.33 8 8.5 8 7 8.67 7 9.5 7.67 11 8.5 11zm3.5 6.5c2.33 0 4.31-1.46 5.11-3.5H6.89c.8 2.04 2.78 3.5 5.11 3.5z"/></svg>
                                <span class="ml-1">
                                  [[${issue.status}]]
                                </span>
                            </span>
                        </td>
                        <td class="px-4 py-3 mt-1 text-sm" th:if="${issue.status == 'OPEN'}">
                            <span class="inline-flex items-center m-2 px-2 py-1 bg-gray-200 bg-green-200 rounded-full text-sm font-semibold text-green-600">
                                <svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm3.5-9c.83 0 1.5-.67 1.5-1.5S16.33 8 15.5 8 14 8.67 14 9.5s.67 1.5 1.5 1.5zm-7 0c.83 0 1.5-.67 1.5-1.5S9.33 8 8.5 8 7 8.67 7 9.5 7.67 11 8.5 11zm3.5 6.5c2.33 0 4.31-1.46 5.11-3.5H6.89c.8 2.04 2.78 3.5 5.11 3.5z"/></svg>
                                <span class="ml-1">
                                  [[${issue.status}]]
                                </span>
                            </span>
                        </td>
                    </tr>
                </th:block>
            <!--tr 한줄 끝-->
            </tbody>
        </table>

            <div id="page-bar-container" class="px-4 py-3 text-xs font-semibold text-gray-500 uppercase">
                <span class="flex mt-2 justify-center">
                    <nav aria-label="Table navigation">
                        <ul class="inline-flex items-center">
                            <!-- 이전 버튼 -->
                            <li>
                                <button class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none bg-gray-50 text-gray-300 focus:shadow-outline-blue cursor-not-allowed"
                                        th:if="${!(number > 0)}" readonly>
                                    <svg aria-hidden="true" class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                                        <path
                                                d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                                clip-rule="evenodd"
                                                fill-rule="evenodd"
                                        ></path>
                                    </svg>
                                </button>
                                <button class="pageNumber px-3 py-1 rounded-md rounded-l-lg focus:outline-none bg-blue-100 hover:bg-blue-200 focus:shadow-outline-blue"
                                        aria-label="Previous"
                                        th:data-page-number="${number - 1}"
                                        th:if="${number > 0}">
                                    <svg aria-hidden="true" class="w-4 h-4 fill-current" viewBox="0 0 20 20" th:data-page-number="${number - 1}">
                                        <path th:data-page-number="${number - 1}"
                                              d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                              clip-rule="evenodd"
                                              fill-rule="evenodd"
                                        ></path>
                                    </svg>
                                </button>
                            </li>

                            <!-- 페이지 번호 반복문 -->
                            <th:block th:if="${totalpages > 0}">
                                <th:block th:each="pageNumber : ${#numbers.sequence(0, totalpages - 1)}">
                                    <li>
                                        <button th:if="${pageNumber == number}" id="selectBtn"
                                                class="px-3 py-1 text-white transition-colors duration-150 bg-blue-600 border border-r-0 border-blue-600 rounded-md focus:outline-none focus:shadow-outline-blue">
                                            <!-- 현재 선택된 페이지는 특별한 스타일을 적용 -->
                                            <span th:text="${pageNumber + 1}"></span>
                                        </button>
                                        <button th:unless="${pageNumber == number}"
                                                class="pageNumber px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-blue hover:bg-gray-100"
                                                data-page-id="owner" th:data-page-number="${pageNumber}">
                                            <!-- 페이지가 선택되지 않은 경우의 스타일 및 이벤트 핸들러 -->
                                            <span th:text="${pageNumber + 1}" th:data-page-number="${pageNumber}"></span>
                                        </button>
                                    </li>
                                </th:block>
                            </th:block>
                            <!-- 다음 버튼 -->
                            <li>
                                <button class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none bg-gray-50 text-gray-300 focus:shadow-outline-blue cursor-not-allowed"
                                        th:if="${!(number < totalpages - 1)}" readonly>
                                    <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20">
                                    <path
                                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                            clip-rule="evenodd"
                                            fill-rule="evenodd"
                                    ></path>
                                </svg>
                            </button>
                                <button class="pageNumber px-3 py-1 rounded-md rounded-r-lg focus:outline-none bg-blue-100 hover:bg-blue-200 focus:shadow-outline-blue"
                                        aria-label="Next"
                                        th:data-page-number="${number + 1}"
                                        th:if="${number < totalpages - 1}">
                                    <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20" th:data-page-number="${number + 1}">
                                        <path th:data-page-number="${number + 1}"
                                              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                              clip-rule="evenodd"
                                              fill-rule="evenodd"
                                        ></path>
                                    </svg>
                                </button>
                            </li>
                        </ul>
                    </nav>
                </span>
            </div>

        </div>
    </div>

</div>
<script layout:fragment="script" th:src="@{/js/project/totalIssueList.js}">
</script>
</html>
