<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/reservation_default}">
<head>
    <title>예약 | 내 예약 내역</title>
</head>
<style layout:fragment="style"></style>
<div layout:fragment="content">

    <table id="tbl-approval-leave" class="min-w-full leading-normal shadow-md rounded-lg overflow-hidden">
        <thead>
        <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
            <th class="px-4 py-2">예약자명</th>
            <th class="px-4 py-2">인원수</th>
            <th class="px-4 py-2">시작 시간</th>
            <th class="px-4 py-2">종료 시간</th>
            <th class="px-4 py-2">예약 사유</th>
            <th class="px-4 py-2">취소</th>
        </tr>
        </thead>
        <tbody class="text-gray-600 text-sm font-light">
        <tr th:each="reservation, status : ${reservations}">
            <td class="border px-4 py-2" th:text="${reservation.employee.name}"></td>
            <td class="border px-4 py-2" th:text="${reservation.count}"></td>
            <td class="border px-4 py-2" th:text="${#temporals.format(reservation.startAt, 'yyyy-MM-dd HH:mm')}"></td>
            <td class="border px-4 py-2" th:text="${#temporals.format(reservation.endAt, 'yyyy-MM-dd HH:mm')}"></td>
            <td class="border px-4 py-2" th:text="${reservation.content}"></td>
            <td class="border px-4 py-2">
                <form th:action="@{/reservation/deleteReservation.do}" method="post">
                    <input name="reservationId" type="hidden" th:value="${reservation.id}">
                    <button onclick="confirm('예약을 취소하시겠습니까?');" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
                        취소
                    </button>
                </form>
            </td>
        </tr>
    </table>

</div>


<script layout:fragment="script"></script>
</html>