<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/reservation_default}">
<head>
    <title>예약 | 노트북</title>
</head>
<style layout:fragment="style"></style>
<div layout:fragment="content">

    <table id="tbl-approval-leave" class="min-w-full leading-normal shadow-md rounded-lg overflow-hidden">
        <thead>
        <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
            <th class="px-4 py-2">사진</th>
            <th class="px-4 py-2">이름</th>
            <th class="px-4 py-2">대여 방법</th>
            <th class="px-4 py-2">사양</th>
            <th class="px-4 py-2">더보기</th>
        </tr>
        </thead>
        <tbody class="text-gray-600 text-sm font-light">
        <tr th:each="resource, status : ${resources}" th:data-resource-id="${resource.id}">
            <td class="border px-4 py-2 cursor-pointer" th:data-modal-target="|img-modal${status.index}|" th:data-modal-toggle="|img-modal${status.index}|">
                <th:block th:if="${resource.attachments.size != 0}">
                    <img th:src="${resource.attachments.get(0).url}" class="w-24 h-24 m-auto">
                    <!-- Main modal -->
                    <div th:id="|img-modal${status.index}|" tabindex="-1" aria-hidden="true"
                         class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                        <div class="relative p-4 w-full max-w-2xl max-h-full">
                            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                <!-- Modal header -->
                                <div class="flex items-center flex-col justify-between pt-4 rounded-t dark:border-gray-600">
                                    <h3 th:text="${resource.name}" class="text-xl mx-auto mb-1 font-semibold text-gray-900 dark:text-white">
                                    </h3>
                                    <p class="text-md mx-auto bg-blue-50 rounded-md p-1 text-blue-600" th:text="${resource.location}"></p>
                                </div>
                                <!-- Modal body -->
                                <div class="p-4 md:p-5 space-y-4">
                                    <img th:src="${resource.attachments.get(0).url}" class="mx-auto cursor-pointer" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </td>
            <td class="border px-4 py-2" th:text="${resource.name}"></td>
            <td class="border px-4 py-2" th:text="${resource.location}"></td>
            <td class="border px-4 py-2" th:text="${resource.info}"></td>
            <td class="border px-4 py-2">
                <button th:onclick="|location.href='@{/reservation/reservationList.do}?id=${resource.id}'|">예약 내역 보기</button>
            </td>
        </tr>
        </tbody>
    </table>

</div>
    <script layout:fragment="script">
    </script>
</html>