<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/attend_default}">
<head>
    <title>연차현황</title>
</head>
<style layout:fragment="style">

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    th {
        background-color: #666;
        color: #fff;
    }

    .leave-history-header {
        margin-bottom: 10px;
    }
</style>
<div layout:fragment="content">
    <!-- 스타일 추가된 틀 -->
    <div class="bg-white border border-gray-100 p-4 rounded-lg shadow-xs">

        <!-- 4칸으로 나눈 구조 -->
        <div class="grid grid-cols-1 md:grid-cols-4 gap-4 items-center">

            <!-- 첫 번째 칸: 프로필 사진과 이름 -->
            <div class="col-span-3 md:col-span-1 flex items-center">
                <img class= "object-cover w-20 h-20 rounded-full" th:src="${#authentication.principal.employee.profileUrl != null ? #authentication.principal.employee.profileUrl : 'https://bucket-minjeong2024.s3.ap-northeast-2.amazonaws.com/profile.png'}" alt="" id="profile-preview">
                <div class="ml-4">
                    <h1 class="text-2xl font-bold " th:text="|${#authentication.principal.employee.name} ${#authentication.principal.employee.position.name}|"></h1>
                </div>
            </div>
            <div class="col-span-3 md:col-span-1 flex items-center flex-col">
                <div class="mb-2">
                    <p class="text-gray-600 flex-grow text-2xl">총 연차</p>
                </div>
                <div class="mt-2">
                     <span class="font-bold text-gray-800 text-xl" th:text="|${#authentication.principal.employee.rest}|"></span>
                </div>
            </div>
            <div class="col-span-3 md:col-span-1 flex items-center flex-col">
                <div class="mb-2">
                    <p class="text-gray-600 flex-grow text-2xl">사용 연차</p>
                </div>
                <div class="mt-2" id="useDayOffCount"  >
                    <span class="font-bold text-gray-800 text-xl" th:text="${#strings.replace(useDayOffCount, '.0', '')}"></span>
                </div>
            </div>
            <div class="col-span-3 md:col-span-1 flex items-center flex-col">
                <div class="mb-2">
                    <p class="text-gray-600 flex-grow text-2xl">남은 연차</p>
                </div>
                <div class="mt-2" id="remainDayOffCount" >
                    <span class="font-bold text-gray-800 text-xl" th:text="${#strings.replace(remainDayOffCount, '.0', '')}"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-14">
        <form>
            <label for="year" class="text-semibold mr-1">연차 사용기간:</label>
<!--            onchange="updateMonthOptions()"-->
            <select class="border pl-1 pr-6 rounded-md bg-gray-50" id="year" >
                <option value="2024">2024년</option>
                <option value="2023">2023년</option>
                <option value="2022">2022년</option>
                <option value="2021">2021년</option>
                <option value="2020">2020년</option>
                <option value="2019">2019년</option>
                <option value="2018">2018년</option>
            </select>
        </form>
    </div>
    <div class="leave-history mt-14">
        <div class="leave-history-header">
            <span class="text-2xl">사용내역</span>
        </div>
        <table id="searchDate">
            <thead>
            <tr>
                <th>이름</th>
                <th>부서명</th>
                <th>휴가종류</th>
                <th>연차 사용기간</th>
                <th>사용 연차</th>
                <th>내용</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dayoff, status : ${dayoffs}" th:data-dayoff-id="${dayoff.id}">
                <td th:text="|${#authentication.principal.employee.name}|"></td>
                <td th:text="${#authentication.principal.employee.department.name}"></td>
                <td th:text="${dayoff.type}"></td>
                <td th:text="|${#temporals.format(dayoff.startAt, 'yyyy/MM/dd')} ~ ${#temporals.format(dayoff.endAt, 'yyyy/MM/dd')}|"></td>
                <td th:text="${dayoff.count}"></td>
                <td th:text="${dayoff.content}"></td>
            </tr>
            </tbody>
        </table>
        <div id="page-bar-container" class="px-4 py-3 text-xs font-semibold text-gray-500 uppercase">
                <span class="flex mt-2 justify-center">
                    <nav aria-label="Table navigation">
                        <ul class="inline-flex items-center">
                            <!-- 이전 버튼 -->
                            <li>
                                <button class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none bg-gray-50 text-gray-300 focus:shadow-outline-blue cursor-not-allowed"
                                        th:if="${!(number > 0)}" readonly>
                                    <svg aria-hidden="true" class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                                        <path
                                                d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                                clip-rule="evenodd"
                                                fill-rule="evenodd"
                                        ></path>
                                    </svg>
                                </button>
                                <button class="pageNumber px-3 py-1 rounded-md rounded-l-lg focus:outline-none bg-blue-100 hover:bg-blue-200 focus:shadow-outline-blue"
                                        aria-label="Previous"
                                        th:data-page-number="${number - 1}"
                                        th:if="${number > 0}">
                                    <svg aria-hidden="true" class="w-4 h-4 fill-current" viewBox="0 0 20 20" th:data-page-number="${number - 1}">
                                        <path th:data-page-number="${number - 1}"
                                              d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                              clip-rule="evenodd"
                                              fill-rule="evenodd"
                                        ></path>
                                    </svg>
                                </button>
                            </li>

                            <!-- 페이지 번호 반복문 -->
                            <th:block th:each="pageNumber : ${#numbers.sequence(0, totalpages - 1)}">
                                <li>
                                    <button th:if="${pageNumber == number}" id="selectBtn"
                                            class="px-3 py-1 text-white transition-colors duration-150 bg-blue-600 border border-r-0 border-blue-600 rounded-md focus:outline-none focus:shadow-outline-blue">
                                        <!-- 현재 선택된 페이지는 특별한 스타일을 적용 -->
                                        <span th:text="${pageNumber + 1}"></span>
                                    </button>
                                    <button th:unless="${pageNumber == number}"
                                            class="pageNumber px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-blue hover:bg-gray-100"
                                            data-page-id="owner" th:data-page-number="${pageNumber}">
                                        <!-- 페이지가 선택되지 않은 경우의 스타일 및 이벤트 핸들러 -->
                                        <span th:text="${pageNumber + 1}" th:data-page-number="${pageNumber}"></span>
                                    </button>
                                </li>
                            </th:block>
                            <!-- 다음 버튼 -->
                            <li>
                                <button class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none bg-gray-50 text-gray-300 focus:shadow-outline-blue cursor-not-allowed"
                                        th:if="${!(number < totalpages - 1)}" readonly>
                                    <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20">
                                    <path
                                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                            clip-rule="evenodd"
                                            fill-rule="evenodd"
                                    ></path>
                                </svg>
                            </button>
                                <button class="pageNumber px-3 py-1 rounded-md rounded-r-lg focus:outline-none bg-blue-100 hover:bg-blue-200 focus:shadow-outline-blue"
                                        aria-label="Next"
                                        th:data-page-number="${number + 1}"
                                        th:if="${number < totalpages - 1}">
                                    <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20" th:data-page-number="${number + 1}">
                                        <path th:data-page-number="${number + 1}"
                                              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                              clip-rule="evenodd"
                                              fill-rule="evenodd"
                                        ></path>
                                    </svg>
                                </button>
                            </li>
                        </ul>
                    </nav>
                </span>
        </div>

    </div>
</div>
<script layout:fragment="script" th:src="@{/js/dayoff/dayoff.js}"></script>
</html>