<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<head>
    <title>게시글 상세보기</title>
    <style layout:fragment="style">

    </style>
</head>
<body>
<div layout:fragment="content" class="min-h-screen flex items-center justify-center bg-white">

    <div id="board-container" class="w-50 mx-auto text-center">
        <form th:action="@{/board/boardUpdate.do}" method="post">
            <div class="flex items-center justify-end px-3 py-2 border-t">
                <input type="hidden" name="id" th:value="${board.id}">
                <button type="submit" class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-800">
                    수정
                </button>
            </div>

            <input type="text" class="form-control mb-3"
                   placeholder="제목" name="title" id="title" th:value="${board.title}" required>
            <input type="text" class="form-control mb-3"
                   name="name" th:value="${board.employee != null ? board.employee.name:'퇴사자'}" readonly required>
            <button type="button"
                    class="btn btn-outline-success btn-block mb-3"
                    th:each="attach, status : ${board.attachments}"
                    th:text="|첨부파일${status.count} - ${attach.originalFileName}|"
                    th:onclick="|location.href ='@{/board/fileDownload.do}?id=${attach.id}';|">
            </button>

            <textarea class="form-control mb-3" name="content"
                      placeholder="내용" th:text="${board.content}" required></textarea>
            <input type="datetime-local" class="form-control" name="createdAt" th:value="${#temporals.format(board.updatedAt,'yyyy-MM-dd HH:mm')}">
        </form>
        <br>

        <!-- 댓글 폼 시작 -->
        <div class="flex items-start gap-2.5 comment-form-container">
            <form th:action="@{/board/boardDetail.do(id=${board.id})}" method="post" class="w-full">
                <div class="flex items-center space-x-2 rtl:space-x-reverse mb-2">
                    <input type="hidden" name="commentLevel" value="1" />
                    <input type="hidden" name="id" th:value="${board.id}" />
                    <textarea class="flex-grow form-control rounded-lg border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-200" name="comment" placeholder="댓글을 입력하세요" required></textarea>
                </div>
                <div class="flex items-center justify-end px-3 py-2 border-t">
                    <button type="submit" class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-800">
                        댓글 등록
                    </button>
                </div>
            </form>
        </div>
        <!-- 댓글 폼 끝 -->

        <div class="relative my-8 shadow-xl sm:rounded-lg comment-list">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                <tbody>
                <th:block th:each="comment : ${commentList}">
                    <!-- 댓글 -->
                    <th:block th:if="${comment.commentLevel == 1}">
                        <tr class="bg-white border-b hover:bg-gray-50">
                            <td scope="row" colspan="2" class="w-4/6 px-6 py-4 font-medium text-gray-800" th:text="${comment.content}"></td>
                            <td th:text="${comment.id}"></td>
                            <td th:text="${#temporals.format(comment.createdAt,'yyyy-MM-dd HH:mm')}"></td>
                            <td th:text="${comment.employee.name}"></td>
                            <td class="px-4 py-4">
                                <button type="button" th:data-parent-id="${comment.id}" th:data-board-id="${board.id}" class="btn-reply w-14 inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-800">
                                    답글
                                </button>
                            </td>
                        </tr>
                        <!-- 답글 -->
                        <th:block th:each="reply : ${commentList}">
                            <th:block th:if="${reply.commentLevel == 2 and reply.parentComment.id == comment.id}">
                                <tr>
                                    <td class="pl-6 pr-2 w-10">⎣</td>
                                    <td scope="row" class="w-4/6 py-4 font-medium text-gray-600" th:text="${reply.content}"></td>
                                    <td th:text="${reply.id}"></td>
                                    <td th:text="${#temporals.format(reply.createdAt,'yyyy-MM-dd HH:mm')}"></td>
                                    <td th:text="${reply.employee.name}"></td>
                                </tr>
                            </th:block>
                        </th:block>
                    </th:block>
                </th:block>
                </tbody>
            </table>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
</div>
</body>

<script layout:fragment="script" th:src="@{/js/board/boardDetail.js}"></script>
</html>