<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<head>
    <title>게시글 상세보기</title>
</head>
<style layout:fragment="style"></style>
<div layout:fragment="content">
    <div id="board-container" class="w-50 mx-auto text-center">
        <input type="text" class="form-control mb-3"
               placeholder="제목" name="title" id="title" th:value="${board.title}" required>
        <input type="text" class="form-control mb-3"
               name="name" th:value="${board.employee != null ? board.employee.name:'퇴사자'}" readonly required>
        <button type="button"
                class="btn btn-outline-success btn-block mb-3"
                th:each="attach, status : ${board.attachments}"
                th:text="|첨부파일${status.count} - ${attach.originalFileName}|"
                th:onclick="|location.href ='@{/board/fileDownload.do}?id=${attach.id}';|">
        </button>

        <textarea class="form-control mb-3" name="content"
                  placeholder="내용" th:text="${board.content}" required></textarea>
        <input type="datetime-local" class="form-control" name="createdAt" th:value="${#temporals.format(board.createdAt,'yyyy-MM-dd HH:mm')}">
        <br>
        <!-- 댓글 폼 시작 -->
        <div class="flex items-start gap-2.5">
            <img class="w-8 h-8 rounded-full" src="/image/employee/profile.png" alt="">
            <div class="flex flex-col w-full max-w-[320px] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700">
                <form th:action="@{/board/boardDetail.do}" method="post" class="w-full">
                    <div class="flex items-center space-x-2 rtl:space-x-reverse mb-2">
                        <input type="hidden" name="commentLevel" value="1" />
                        <input type="hidden" name="id" th:value="${board.id}" />
                        <textarea class="flex-grow form-control rounded-lg border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-200" name="comment" placeholder="댓글을 입력하세요" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary self-end">댓글 등록</button>
                </form>
            </div>
        </div>
        <!-- 댓글 폼 끝 -->

        <!-- 댓글 테이블 -->
        <table class="table table-striped mt-4">
            <tbody>
<!--                <div th:if="${comment.commentLevel == 1}">-->
                <!-- 댓글 리스트를 반복하여 출력 -->
                    <tr th:each="comment , status : ${commentList}">
                        <td th:text="${comment.content}"></td>
                        <td th:text="${comment.id}"></td>
                        <td th:text="${#temporals.format(comment.createdAt,'yyyy-MM-dd HH:mm')}"></td>
                        <td class="px-4 py-4">
                            <button type="button" th:data-parent-id="${comment.id}" th:data-board-id="${board.id}"
                                    class="btn-reply w-14 inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-800">
                                답글
                            </button>
                        </td>
                    </tr>
<!--                </div>-->
            </tbody>
        </table>

        <!-- 댓글 테이블 끝 -->
        <!-- 대댓글 폼 -->
<!--                <form name="boardCommentCreateFrm" th:action="@{/board/boardcommentcreate.do}" method="post">-->
<!--                    <input type="hidden" name="boardId">-->
<!--                    <input type="hidden" name="commentLevel" value="2">-->
<!--                    <input type="hidden" name="parentCommentId">-->
<!--                    <textarea id="content" name="content" rows="1" required-->
<!--                              class="resize-none block mx-4 p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"-->
<!--                              placeholder="답글을 작성하세요..."></textarea>-->
<!--                </form>-->
        <!-- 대댓글 폼 끝 -->



        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
</div>

<script layout:fragment="script" th:src="@{/js/board/boardDetail.js}"></script>
</html>
빠뀐 html