<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title>게시글 작성</title>
</head>
<body>
<div layout:fragment="content" class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="max-w-4xl w-full px-6 py-12 bg-white shadow-md rounded-lg">
        <h1 class="text-3xl font-semibold mb-8 text-center">게시글 작성</h1>
        <form name="boardFrm" th:action="@{/board/createBoard.do}" method="post" enctype="multipart/form-data">
            <div class="mb-6">
                <label for="type" class="block text-gray-700 text-sm font-bold mb-2">타입</label>
                <select id="type" name="type" class="form-select block w-full mt-1">
                    <option th:if="${#authorization.expression('hasAuthority(''ROLE_CEO'')')}" value="notification">공지사항</option>
                    <option value="free">자유게시판</option>
                </select>
            </div>
            <div class="mb-6">
                <input type="text" class="form-input block w-full" placeholder="제목" name="title" id="title" required>
            </div>
            <div class="mb-6">
                <input type="file" name="files" multiple id="files" class="form-input block w-full py-3 px-4 border rounded-md">
            </div>
            <div class="mb-6">
                <textarea class="form-textarea block w-full h-60" name="content" placeholder="내용" required></textarea>
            </div>
            <div class="mb-6">
                <input type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded focus:outline-none focus:shadow-outline w-full" value="저장">
            </div>
        </form>
    </div>
</div>
</body>
</html>