<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        >
<div th:fragment="aside" class="flex h-full bg-gray-50">
    <div class="text-xl px-4 py-4 font-bold hover:text-[#000000] mt-20">
        <span style="margin-top: 20px;">근태관리</span>
        <hr class="mt-4">
    </div>

    <ul class="approval-nav-ul mt-4">
        <span class="z-20 absolute transition-all h-[58px] left-0 w-2 bg-[#FFFFFF] rounded-tr-lg rounded-br-lg opacity-0" id="focus-bar" aria-hidden="true"></span>

        <li class="py-2 h-[58px] hover:bg-gray-200" th:onclick="|location.href='@{/attend/attendList.do}'|">
            <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-[#FFFFFF]">
                <span class="ml-6 mt-2">근태 관리</span>
            </a>
        </li>

        <li class="relative py-2 h-[58px] hover:bg-gray-200" th:onclick="|location.href='@{/dayoff/dayoffList.do?year=1704067200000}'|">
            <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-[#FFFFFF]">
                <span class="ml-6">연차 관리</span>
            </a>
        </li>

</html>