<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="header" >
      <div
        class="container absolute top-0 left-64 flex flex-row-reverse w-100% items-center z-10 justify-between mt-5 px-6 text-blue-600 dark:text-blue-300"
      >
        <ul class="flex items-center flex-shrink-0 space-x-6">
          <!-- Notifications menu -->
          <li class="relative">
            <button
              class="relative align-middle rounded-md focus:outline-none focus:shadow-outline-purple"
              @click="toggleNotificationsMenu"
              @keydown.escape="closeNotificationsMenu"
              aria-label="Notifications"
              aria-haspopup="true"
            >
              <svg
                class="w-5 h-5"
                aria-hidden="true"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"
                ></path>
              </svg>
              <!-- Notification badge -->
              <span
                aria-hidden="true"
                class="absolute top-0 right-0 inline-block w-3 h-3 transform translate-x-1 -translate-y-1 bg-red-600 border-2 border-white rounded-full dark:border-gray-800"
              ></span>
            </button>
          </li>
          <!-- Profile menu -->
          <li class="relative">
            <button id="dropdownInformationButton" data-dropdown-toggle="dropdownInformation"
              class="align-middle rounded-full focus:shadow-outline-purple focus:outline-none"
              @click="toggleProfileMenu"
              @keydown.escape="closeProfileMenu"
              aria-label="Account"
              aria-haspopup="true"
            >
              <img
                class="object-cover w-8 h-8 rounded-full"
                th:src="${#authentication.principal.employee.profileUrl != null ? #authentication.principal.employee.profileUrl : 'https://bucket-minjeong2024.s3.ap-northeast-2.amazonaws.com/profile.png'}"
                alt="사원 프로필 사진"
                aria-hidden="true"
              />
            </button>
          </li>
          <li>
            <span th:text="|${#authentication.principal.employee.name}님 [${#authentication.principal.employee.position.name}]|"></span>
          </li>

          <!-- Dropdown menu -->
          <div id="dropdownInformation" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-fit dark:bg-gray-700 dark:divide-gray-600">
            <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
              <div>
                <th:block sec:authorize="isAuthenticated()">
                  <li>
                    <span th:text="${#authentication.principal.employee.name}"></span>
                  </li>
                </th:block>
              </div>
              <div class="font-medium truncate">
                <th:block sec:authorize="isAuthenticated()">
                  <li>
                    <span sec:authentication="principal.username"></span>
                  </li>
                </th:block>
              </div>
            </div>
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownInformationButton">
              <li>
                <a th:href="@{/employee/employeeDetail.do}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">정보 조회</a>
              </li>
              <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">관리자 전환</a>
              </li>
            </ul>
            <div class="py-2">
              <form th:action="@{/auth/logout.do}" method="post" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                <button type="submit">Logout</button>
              </form>
            </div>
          </div>
        </ul>
      </div>
    </header> 
</html>