<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
<head>
    <title>대시보드</title>
</head>
<style layout:fragment="style"></style>
<div layout:fragment="content">
    <div class="w-full bg-gray-50 p-10">
        <table class="w-full">
            <tr class="w-full">
                <td rowspan="3" class="w-1/3">
                    <div class="m-2 text-center border border-gray-100 items-center p-4 bg-white rounded-lg shadow-xs h-full">
                        <h4 class="my-4">2023년 01월 26일(금)</h4>
                        <div th:id="img-wrap" class="my-2 rounded-full w-2/4 overflow-hidden bg-blue-50 mx-auto">
                            <img th:src="${#authentication.principal.employee.profileUrl}" alt="" id="profile-preview">
                        </div>
                        <p class="my-4" th:text="|${#authentication.principal.employee.name} ${#authentication.principal.employee.position.name}|"></p>
                        <h1 class="my-4 text-4xl font-bold">시계 위치</h1>
                        <div class="w-full text-center my-2 bg-gray-50 p-5 mb-8"> <!-- xl:cols숫자 = 안에 들어있는 카드수 -->
                            <div class="flex w-full my-2 mx-auto items-center p-2rounded-lg transition-all">
                                <h1 class="w-1/3">업무 상태</h1>
                                <h1 class="w-full">어쩌고</h1>
                            </div>
                            <div class="flex w-full my-2 mx-auto items-center p-2rounded-lg transition-all">
                                <h1 class="w-1/3">출근시간</h1>
                                <h1 class="w-full">어쩌고</h1>
                            </div>
                            <div class="flex w-full my-2 mx-auto items-center p-2rounded-lg transition-all">
                                <h1 class="w-1/3">퇴근시간</h1>
                                <h1 class="w-full">어쩌고</h1>
                            </div>
                            <div class="flex mt-10 w-full mx-auto items-center p-2rounded-lg transition-all">
                                <button type="button" id=""
                                        class="w-fit flex items-center mx-auto text-white bg-gradient-to-br from-blue-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-200 focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                                출근하기
                                </button>
                                <button type="button" id=""
                                        class="w-fit flex items-center mx-auto text-white bg-gradient-to-br from-blue-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-200 focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                                퇴근하기
                                </button>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="w-1/3"><div class="m-2 items-center border border-gray-100 p-4 bg-white rounded-lg shadow-xs"></div></td>
                <td class="w-1/3"><div class="m-2 items-center border border-gray-100 p-4 bg-white rounded-lg shadow-xs"></div></td>
            </tr>
            <tr class="w-full">
                <td class="w-1/3"><div class="m-2 items-center border border-gray-100 p-4 bg-white rounded-lg shadow-xs"></div></td>
                <td class="w-1/3"><div class="m-2 items-center border border-gray-100 p-4 bg-white rounded-lg shadow-xs"></div></td>
            </tr>
            <tr class="w-full">
                <td class="w-1/3"><div class="m-2 items-center border border-gray-100 p-4 bg-white rounded-lg shadow-xs"></div></td>
                <td class="w-1/3"><div class="m-2 items-center border border-gray-100 p-4 bg-white rounded-lg shadow-xs"></div></td>
            </tr>
        </table>
    </div>
<script layout:fragment="script" th:src="@{/js/index.js}">
</script>
</html>
