<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
<head>
    <title>자원 추가</title>
</head>
<style layout:fragment="style">
    .top-100 {
        top: 100%
    }

    .bottom-100 {
        bottom: 100%
    }

    .max-h-select {
        max-height: 300px;
    }
</style>
<div layout:fragment="content">
    <div class="flex flex-wrap">
        <div class="mx-auto w-4/5">
            <div class="mx-auto w-full mb-10">
                <h1 class="flex items-center">
                    <span class="mr-10 text-2xl font-bold">자원 추가하기</span>
                    <span class="h-px flex-1 bg-gray-600"></span>
                </h1>
                <div class="relative w-2/3 mt-10 bg-white rounded-lg border border-gray-300 dark:bg-gray-700">
                    <form class="p-4 md:p-5" name="createResourceFrm" enctype="multipart/form-data" th:action="@{/resource/createResource.do}" method="post">
                        <div class="grid gap-4 mb-4 grid-cols-2">
                            <div class="col-span-2">
                                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">자원명</label>
                                <input type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="자원명을 입력하세요" required>
                            </div>
                            <div class="col-span-2">
                                <label for="location" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">위치</label>
                                <input type="text" name="location" id="location" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="대여 위치를 입력하세요" required>
                            </div>
                            <div class="col-span-2">
                                <label for="info" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">정보</label>
                                <input type="text" name="info" id="info" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="정보를 입력하세요" required>
                            </div>
                            <div class="col-span-2">
                                <select name="type" id="type">
                                    <option value="">== 타입 선택 ==</option>
                                    <option value="Room">회의실</option>
                                    <option value="Car">차량</option>
                                    <option value="Notebook">노트북</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-span-2">
                            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="files">파일 첨부</label>
                            <div class="bg-gray-200 border mb-4 border-gray-300 z-40 w-full text-sm rounded max-h-[200px] overflow-y-auto">
                                <table id="fileArea" class="w-full whitespace-no-wrap">
                                    <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                                    <tr class="text-gray-700">
                                        <td class="px-2 py-2">등록된 파일이 없습니다.</td>
                                    </tr>
                                    <!-- 반복되는 tr영역 -->
                                    <!--tr 한줄 끝-->
                                    </tbody>
                                </table>
                            </div>
                            <input class="block w-full mb-5 text-xs text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                                   type="file" name="files" multiple id="files">
                        </div>
                        <button type="submit"
                                class="text-white mx-auto inline-flex items-center bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                            <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            추가하기
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script layout:fragment="script" th:src="@{/js/resource/createResource.js}"}></script>
</html>
